<app-carousel></app-carousel>
<div class="container">
  <ul class="nav nav-tabs categories">
    <li class="nav-item">
      <a
        class="nav-link active"
        href="#category"
        onclick="loadData('products?limit=0')"
      >
        ALL CATOGARIES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#categories"> Category 1 </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#categories"> Category 1 </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#categories"> Category 1 </a>
    </li>
  </ul>
</div>

<app-products></app-products>
