<div class="d-flex flex-column justify-content-center align-items-center">
  <h1 *ngIf="!logoAndBuyHideShow">{{ logo }}</h1>
  <h1 *ngIf="logoAndBuyHideShow">thank yoou for purchasing {{ clientName }}</h1>
  <h2>{{ branchName }}</h2>
  <div *ngFor="let product of products">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ product.img }}"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h3 *ngIf="product.priceAfterDiscount != product.price">
          we offr you dscount of
          {{ (product.price - product.priceAfterDiscount).toFixed(2) }}
        </h3>
        <p>{{ product.priceAfterDiscount.toFixed(2) }}</p>

        <a href="#" (click)="onChangeLogo()" class="btn btn-primary">buy</a>
      </div>
    </div>
  </div>
</div>
