<div class="container">
  <div class="row mb-4">
    <div class="col-md-6">
      <h3>
        <ng-container [ngSwitch]="product?.quantity">
          <ng-container *ngSwitchCase="0"
            ><h3 class="text-danger">Out Of Stock</h3></ng-container
          >
          <ng-container *ngSwitchCase="1">Last One item</ng-container>
          <ng-container *ngSwitchCase="2">Last 2 item!</ng-container>
          <ng-container *ngSwitchCase="3">Last 3 item</ng-container>
          <ng-container *ngSwitchDefault>In Stock</ng-container>
        </ng-container>
      </h3>
      <img [src]="product?.PrdImgURL" class="img-fluid" />
    </div>
    <div class="col-md-6">
      <h2>Product Details</h2>
      <h3>{{ product?.name }}</h3>
      <h3 style="color: grey">{{ product?.details }}</h3>
      <h5>Price {{ product?.price | currency }}</h5>
      <h5>Material: {{ product?.Material }}</h5>
    </div>
  </div>
  <div
    class="d-flex justify-content-center"
    role="group"
    aria-label="Basic example"
  >
    <button class="border-0" (click)="previous()" [disabled]="id == idsList[0]">
      <!-- <i class="fa-solid fa-angles-left fs-4 text-primary"></i> -->
      &lt;&lt;
    </button>
    <button
      class="border-0"
      (click)="next()"
      [disabled]="id == idsList[idsList.length - 1]"
    >
      <!-- <i class="fa-solid fa-angles-right fs-4"></i> -->
      &gt;&gt;
    </button>
  </div>
</div>

<!-- <button class="button-91" (click)="goBackToPrds()">Back</button> -->
<button class="button-91" [routerLink]="['/home']">Back</button>

<!-- <div class="container">
    <div class="row" *ngIf="product">
      <div class="col-md-6">
        <img [src]="product.PrdImgURL" alt="">
      </div>
      <div class="col-md-6">
  
        <h2>Product Details</h2>
        <h3>{{product.name}}</h3>
      </div>
    </div>
  </div> -->
